[Desktop Entry]
Version=1.0
Encoding=UTF-8
Icon=/usr/share/olinmm/olin.png
Name=Marauder's Map @ Olin
Comment=The Marauder's Map @ Olin
Exec=python /usr/bin/olinmm.py
Terminal=false
Type=Application
Categories=Application;GTK;GNOME;Network;
StartupNotify=false

