body {
	font-family: Verdana, Geneva, Arial, sans-serif;
}

#content {
	margin: 10px 10px 10px 325px;
	padding: 10px 10px 10px 10px;
}

#nav {
	float: left;
	width: 300px;
	margin-bottom: 100px;
	margin-right: 25px;
}


.precode {
margin: 5px 20px 20px;
	margin-bottom: 2px;
	font-size: small;
	font-style: italic;
}
.code {
	margin: 5px 20px 20px;
	border: 1px inset;
	padding: 6px;
	overflow: auto;
	width: 640px;
	text-align: left;
	background-color: #f0f0f0;
	white-space: nowrap;
}


a:link {
	color: blue;
}
a:visited {
	color: #001478;
}
a:hover {
	color: red;
}
